<html>
<body style="background-color:lightsteelblue;">
<pre style="text-align:center; letter-spacing : 1.5em;"><h1>Input Attributes</h1></pre>
<pre style="font-size:20px;">Enter the following attribute fields to get the diagnosis.</pre>
<form action="/users/input/" method="post">
    {% csrf_token %}
    <!-- |linebreaks add new lines. !-->
    <table>
    {{ form.as_table }}
    </table>
    <br/>
    <input style=" height:30px; width:150px; background:lightgreen;" type="submit" value="Get Diagnosis" />
</form>
</body>
</html>
